@import './commonStyles.css';
@import './tetrahedron.css';
@import './desktop.css';
@import './tablet.css';
@import './mobile.css';
@import './cookieBanner.css';

a, h3, button {
    color: #000000;
    font-family: CenturyGothic;
    text-decoration: none;
    transition: color 1s 0.02s ease;
}

a:hover {
    color: #444444;
    transition: color 0.2s 0.02s ease;
}

#social {
    position: fixed;
    left: 50%;
    margin-left: -157.865px;
    bottom: 1%;
    font-size: 20px;
    font-weight: normal;
}

#email {
    position: fixed;
}

#utils {
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: 16px;
    width: 160px;
    max-width: 160px;
    text-align: right;
}

#utils h3 {
    text-decoration: underline;
}
