@import 'commonStyles.css';
@import './tetrahedron.css';
@import './desktop.css';
@import './tablet.css';
@import './mobile.css';
@import './colorChange/colorChange.css';

a, h3 {
    font-family: CenturyGothic;
    text-decoration: none;
    transition: color 1s 0.02s ease;
}

a:hover {
    transition: color 0.2s 0.02s ease;
}

#social {
    position: fixed;
    left: 50%;
    margin-left: -157.865px;
    bottom: 1%;
    font-size: 20px;
    font-weight: normal;
}

#email {
    position: fixed;
}

#utils {
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: 16px;
    width: 160px;
    max-width: 160px;
    text-align: right;
}

#utils h3 {
    display: inline-block;
    cursor: pointer;
    color: var(--main-color);
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 3px;
    margin-top: 0px;
    font-size: 20px;

    transition:
        color 1s 0.02s ease, 
        text-decoration-color 1s 0.02s ease;
}

#utils:not(.expanded) h3:hover {
    color: var(--placeholder-color);

    transition:
        color 0.2s 0.02s ease, 
        text-decoration-color 1s 0.02s ease;
}

#utils.expanded h3 {
    color: var(--placeholder-color);
    text-decoration-color: var(--main-color);
}

#utils div {
    display: none;
    opacity: 0;
    transform: translateX(160px);

    transition:
        opacity 1s 0.02s ease,
        transform 1s 0.02s ease,
        display 1s 0.02s ease allow-discrete;
}

#utils.expanded div {
    display: block;
    opacity: 1;
    transform: translateX(0px);

    @starting-style {
        opacity: 0;
        transform: translateX(160px);
    }
}