.row { /*workaround*/
	max-width: 401px;
	width: 401px;
}

#form {
	position: absolute;
	width: 400px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -200px;
	padding: 0;
}

#string {
	max-width: 388px;
	width: 388px;
}

#partsCount, #part {
	margin-left: 0;
	margin-right: 0;
	max-width: 182px;
	width: 182px;
}

#part {
	margin-right: 8px;
}

#result {
	display: block;
	font-weight: bolder;
	max-width: 100%;
	width: 100%;
	text-align: center;
	max-width: 392px;
	width: 392px;
}
