input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.row {
	margin-right: 20px;
}

#container {
	width: 80%;
	max-width: 80%;
	display: flex;
	margin-left: 100px;
}

.name {
	margin-right: 20px;
} 
