.row { /*workaround*/
	max-width: 801px;
	width: 801px;
}

.text {
	font-size: 18px;
	display: block;
	font-weight: bolder;
	max-width: 100%;
	width: 100%;
	text-align: center;
}

#form {
	position: absolute;
	width: 800px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -400px;
	padding: 0;
}

#string {
	max-width: 788px;
	width: 788px;
}

#result {
	display: block;
	font-weight: bolder;
	max-width: 788px;
	width: 788px;
	text-align: center;
}
