@import '../layoutStyles.css';

.row { /*workaround*/
    max-width: 461px;
    width: 461px;
}

#form {
    position: absolute;
    width: 460px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -230px;
    padding: 0;
}

#generate {
    max-width: 460px;
    width: 460px;
}

#upperCase {
    color: #000000;
    cursor: pointer;
    padding-bottom: 5px;
}

#result {
    max-width: 452px;
    width: 452px;
    max-height: 36px;
    height: 36px;
}

#copy {
    position: relative;
    max-width: 128px;
    width: 128px;
    left: 50%;
    margin-left: -64px;
}
