@import '../commonStyles.css';
@import './desktop.css';
@import './tablet.css';
@import './mobile.css';
@import '../colorChange/colorChange.css';

::placeholder {
    opacity: 1;
    transition: color 1s 0.02s ease;
}

::-webkit-scrollbar-thumb:not(input, button) {
    background: #888888;
}

::-webkit-scrollbar-track:not(input, button) {
    border: 0.5px solid #888888;
}

::-webkit-scrollbar {
    width: 10px;
}

input, button, textarea, span {
    font-weight: bolder;
    font-size: 20px;
    font-family: CenturyGothic;
    margin-bottom: 8px;
    transition: color 1s 0.02s ease, border-color 1s 0.02s ease;
}

input, button, textarea {
    background-color: #000000;
    padding: 4px;
    outline: none;
}

input, button {
    border: 2px solid;
}

textarea, span {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

textarea {
    border: none;
    resize: none;
}

span {
    display: block;
}

button {
    cursor: pointer;
}

button:hover {
    transition: color 0.2s 0.02s ease, border-color 0.2s 0.02s ease;
}

.switch {
    cursor: pointer;
}

#home {
    position: fixed;
    width: 60px;
    height: 60px;
    background: transparent;

    transform-origin: 50% 71.13248654051871%;
    transform: rotate(45deg);
    transition: all 1s 0.02s ease;
}

#home:has(.home:hover) {
    transform-origin: 50% 71.13248654051871%;
    transform: rotate(-135deg);
}

#home a {
    cursor: default;
}

#home a:has(.home:hover) {
    cursor: pointer;
}

.home {
    top: 0;
    width: 100%;
    height: 100%;

    clip-path: polygon(50% 13.397459621556166%, 100% 100%, 0% 100%);
}

#home .home {
    transition: background-color 1s 0.02s ease;
}

#home .home:hover {
    cursor: pointer;

    transition: background-color 0.2s 0.02s ease;
}
