#time {
    position: absolute;
    width: 600px;
    max-width: 600px;
    height: 88px;
    max-height: 88px;
    top: 50%;
    left: 50%;
    margin-top: -44px;
    margin-left: -300px;
    text-align: center;
    user-select: none;
    font-weight: bold;
    font-size: 72px;
}

#time #spinner {
    margin: 0 auto;
}
