@import '../layoutStyles.css';
@import './desktop.css';
@import './mobile.css';

.row { /*workaround*/
    max-width: 286px;
    width: 286px;
}

.row input {
    width: 80px;
    text-align: center;
}

.switch {
    width: 92px;
    height: 4px;
    padding: 0;
    cursor: pointer;
}

.row.top .switch {
    vertical-align: bottom;
}

.row.bottom .switch {
    vertical-align: top;
}

#time {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    top: 50%;
    text-align: center;
    font-weight: bold;
    transition: color 1s 0.02s ease;
}

#setEndTime {
    position: absolute;
    width: 285px;
    height: auto;
    top: 61.8%;
    left: 50%;
    margin-left: -142.5px;
    text-align: center;
}
