@import '../layoutStyles.css';

.row { /*workaround*/
    max-width: 381px;
    width: 381px;
}

#form {
    position: absolute;
    width: 380px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    padding: 0;
}

#length {
    max-width: 368px;
    width: 368px;
}

#generate {
    max-width: 380px;
    width: 380px;
}

#result {
    max-width: 452px;
    width: 452px;
    max-height: 36px;
    height: 36px;
    left: 50%;
    margin-left: -40px;
}

#copy {
    position: relative;
    max-width: 128px;
    width: 128px;
    left: 50%;
    margin-left: -64px;
}
