:root {
    --main-color: #000000;
    --negative-color: #000000;
    --placeholder-color: #000000;
}

a, input, button, textarea, h3, .target {
    color: var(--main-color);
}

a:hover {
    color: var(--negative-color);
}

.hoverTarget, .home {
    background-color: var(--main-color);
}

.hoverTarget.negative {
    background-color: var(--negative-color);
}

.home:hover {
    background-color: var(--negative-color);
}

input, button {
    border-color: var(--main-color);
}

button:hover {
    color: var(--negative-color);
    border-color: var(--negative-color);
}

.switch, .switch:hover {
    color: var(--placeholder-color);
    border-color: var(--placeholder-color);
    transition: color 1s 0.02s ease, border-color 1s 0.02s ease;
}

button.switch, button.switch:hover {
    background-color: var(--placeholder-color);
    transition: color 1s 0.02s ease, border-color 1s 0.02s ease, background-color 1s 0.02s ease;
}

.switch.active, .switch.active:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

button.switch.active, button.switch.active:hover {
    background-color: var(--main-color);
}

::placeholder {
    color: var(--placeholder-color);
}